div{
    /* background-color: black; */
    height: 150px;
    width: 150px;
    /* animation-name: ball; */
    
    /* display: flex; */
    /* flex-direction: column; */
    

    /* background: linear-gradient(blue); */

}
.ball{
    /* width: 100px;
    height: 100px; */
    margin: auto;
    background: linear-gradient(blue,yellow,red);
    border-radius: 99999%;
    border:5px solid red;
    animation-name: bounce;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-duration: 2s;
}
@keyframes bounce{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(85vh) rotate(360deg);
    }
}