#parent{
    height: 300px;
    width: 300px;
    position: relative;
    margin-left: 500px;
    margin-top: 250px;
    transform-style: preserve-3d;
    transition: 3s;
}

body{
    perspective: 900px;
}

.ClassA{
    background-color: black;
    height: 300px;
    width: 300px;
    position: absolute;
    backface-visibility: hidden;
    z-index: 2;
}
.ClassB {
   background-color: coral;
   height: 300px;
    width: 300px;
    position: absolute;
    z-index: 1;
}
#parent:hover{
   transform: rotatey(180deg);
}