div{
    background-color: rgb(18, 12, 5);
    width: 150px;
    height: 150px;
    transition: 3s;
}
div:hover{
    /* transform: translateY(200px); */
    /* transform: translate(200px,200px); */
    transform: rotate(180deg);
    /* transform: scaleY(2); */
}